# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

components.d.ts
src/mock/mock.ts

.vercel
out/

.env

*.pem
imgs
data.json
__pycache__
cookie.txt
