.tmd-down {
    margin-left: 12px;
    order: 99;
    cursor: pointer;
}
.tmd-bar-btn {
    padding-top: 8px;
    font-size: 1rem;
}

.tmd-down:hover>div>div>div>div {
    color: rgba(29, 161, 242, 1.0);
}

.tmd-down:hover>div>div>div>div>div {
    background-color: rgba(29, 161, 242, 0.1);
}

.tmd-down:active>div>div>div>div>div {
    background-color: rgba(29, 161, 242, 0.2);
}

.tmd-down:hover svg {
    color: rgba(29, 161, 242, 1.0);
}

.tmd-down:hover div:first-child:not(:last-child) {
    background-color: rgba(29, 161, 242, 0.1);
}

.tmd-down:active div:first-child:not(:last-child) {
    background-color: rgba(29, 161, 242, 0.2);
}

.tmd-down.tmd-media {
    position: absolute;
    right: 0;
    display: none;
}

a[data-detected]:hover .tmd-down.tmd-media,
article[data-detected]:hover .tmd-down.tmd-media {
    display: flex;
}

.tmd-down.tmd-media>div {
    display: flex;
    border-radius: 99px;
    margin: 2px;
}

.tmd-down.tmd-media>div>div {
    display: flex;
    margin: 6px;
    color: #fff;
}

.tmd-down.tmd-media:hover>div {
    background-color: rgba(255, 255, 255, 0.6);
}

.tmd-down.tmd-media:hover>div>div {
    color: rgba(29, 161, 242, 1.0);
}

.tmd-down.tmd-media:not(:hover)>div>div {
    filter: drop-shadow(0 0 1px #000);
}

.tmd-down g {
    display: none;
}

.tmd-down.download g.download,
.tmd-down.completed g.completed,
.tmd-down.loading g.loading,
.tmd-down.failed g.failed {
    display: unset;
}

.tmd-down.loading svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tmd-btn {
    display: inline-block;
    background-color: #1DA1F2;
    color: #FFFFFF;
    padding: 0 20px;
    border-radius: 99px;
}

.tmd-tag {
    display: inline-block;
    background-color: #FFFFFF;
    color: #1DA1F2;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #1DA1F2;
    font-weight: bold;
    margin: 5px;
}

.tmd-btn:hover {
    background-color: rgba(29, 161, 242, 0.9);
}

.tmd-tag:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.tmd-down.tmd-img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none !important;
}

.tmd-down.tmd-img>div {
    display: flex;
    border-radius: 99px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}

.tmd-down.tmd-img>div>div {
    display: flex;
    margin: 6px;
    color: #fff !important;
}

.tmd-down.tmd-img:not(:hover)>div>div {
    filter: drop-shadow(0 0 1px #000);
}

.tmd-down.tmd-img:hover>div>div {
    color: rgba(29, 161, 242, 1.0);
}

:hover>.tmd-down.tmd-img,
.tmd-img.loading,
.tmd-img.completed,
.tmd-img.failed {
    display: block !important;
}

.tweet-detail-action-item {
    width: 20% !important;
}